* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fafafa;
}

.big-bold {
  font-weight: 700;
}


.brand {
  color: #262626 !important;
  font-family: 'Indie Flower', cursive;
}

.nav-margin {
  margin-top: 80px;
}

.category {
  padding: 30px 0;
}

.score {
  font-size: 14px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.post-title {
  margin-top: 10px;
}

.tool-box {
  margin-left: 10px;
}
/* ---- Overriding Bootstrap Styles --- */
.navbar-default {
  background-color: #ffffff;
}

.navbar-header {
  float: none;
}

.navbar-brand {
  float: none;
  display: block;
  height: 60px;
  font-size: 28px;
  line-height: 30px;
}

.badge {
  display: inline-flex;
  float: right;
}

.panel-title {
  display: inline-flex;
  font-size: 18px;
}
