* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fafafa;
}

.big-bold {
  font-weight: 700;
}


.brand {
  color: #262626 !important;
  font-family: 'Indie Flower', cursive;
}

.nav-margin {
  margin-top: 80px;
  margin-bottom: 20px;
}

.score {
  font-size: 14px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.bottom-50 {
  margin-bottom: 50px;
}

.bottom-70 {
  margin-bottom: 70px;
}

.post-title {
  margin-top: 10px;
}

.tool-box {
  margin-left: 10px;
}

.top-10 {
    margin-top: 10px;
}

.top-20 {
    margin-top: 20px;
}
.full-input {
    width: 100%;
}

.category {
    border: 1px solid #ddd;
}

.comment-box {
  height: 40px;
}
/* --- Modal CSS --- */
.modal {
    z-index: 1100; /* Greater than bootstraps Navbar */
    height: 100%;
    width: 100%;
    background-color: white;
    display: block;
}

.close-modal {
  z-index: 1100;
  font-size: 20px;
  padding: 10px;
  position: fixed;
  right: 10px;
  cursor: pointer;
}

.padding-sides-15 {
    padding-left: 15px;
    padding-right: 15px;
}
/* ---- Overriding Bootstrap Styles --- */
.navbar-default {
  background-color: #ffffff;
}

.navbar-header {
  float: none;
}

.navbar-brand {
  float: none;
  display: block;
  height: 60px;
  font-size: 28px;
  line-height: 30px;
}

.badge {
  display: inline-flex;
  float: right;
}

.panel-title {
  display: inline-flex;
  font-size: 18px;
}

.navbar-btn {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .top-xs-10 {
        margin-top: 10px;
    }
}
